<form method='post' action='/users'>
	<div class='input-row'>
		<label for='username'>Name</label>
		<input name='username' type='text' />
	</div>
	<div class='input-row'>
		<label for='password'>Password</label>
		<input name='password' type='password' />
	</div>
	<input type='submit' value='Register' class='submit-button'>
</form>
